@font-face {
  font-family: 'Tomorrow';
  src: url('./assets/fonts/Tomorrow-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Tomorrow';
  src: url('./assets/fonts/Tomorrow-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
